
        .main{
            margin-left:0px;
            padding: 85px 0px;
            background-color:#fff
        }
        .imgbar {
            font-style: oblique;
            background: 	burlywood ;
            height: 50px;
            width: 300px;
            border-left: 10px solid	darkred ;
            border-radius: 5px 15px 70px 35px;    
        }

        a:link, a:visited {
            color: white;
            padding: 4px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }

        .sidebar{
            border-color
            font-style: oblique;
            background-color: burlywood ;
            border-left: 10px solid	darkred ;
            border-radius: 5px 10px 20px 30px;
        }
    
        .sidebar hover{
            opacity:1;
            border-left: 10px solid	darksalmon;
            color: white;
    
        }