
        .main{
            margin-left:0px;
            padding: 85px 0px;
            background-color:rgb(56, 56, 56)
        }
    

        a:link, a:visited {
            color: white;
            padding: 4px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }

        .sidebar{
            border-color
            font-style: oblique;
            background-color: burlywood ;
            border-left: 10px solid	darkred ;
            border-radius: 5px 10px 20px 30px;
        }
    
        .sidebar hover{
            opacity:1;
            border-left: 10px solid	darksalmon;
            color: white;
    
        }



        