{% extends "main/base.html" %}

{% block title %} cadastro de listas {% endblock %}

{% block content %}
<h3> Cadastro </h3>
<form method = "post" action = "/create/" class="form-group">
    {% csrf_token %}
    <div class= "input-group mb-3">
        <div class= "input-group-prepend">
            <button type = "submit", name = "Salvar" class= "btn btn-success"> Criar novo</button>
    </div>
    {{form.name}}
    <hr class = "mt-0 mb-4"><hr class = "mt-0 mb-4"><hr class = "mt-0 mb-4">

    <div class= "input-group mb-3">
        <div class= "input-group-prepend">
            <form action = "{% url 'home' %}" method = "POST" enctype = "multipart/form-data"> {% csrf_token %} 
    
                <input type = "file" name = "my_file">
                <input type= "submit" value = "enviar" >
    </div>
    <hr class = "mt-0 mb-4">

</form>
{% endblock %}

